body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.span{ color: #C75B12;

	}
.fa-lg {
    font-size: 2em;}

.glyphicon {
		  color: cornflowerblue;}

.btn{background-color: cornflowerblue;}
/*.glyphicon-ok {  color: white;}*/
.btn-sub:hover  > .glyphicon-ok { color: black;}

.btn-sub:hover  { background-color: cornflowerblue;}

p, h1	{font-family: 'Open Sans', sans-serif;}

/*.input-group-addon {background-color: white;
		border-right: white;}
*/


.formpad{
margin-top: 7em;
}
.social li {
		display: inline-block;
}
#socicon a:hover {	color: #222;
}

.new , .btn-group {
		background-color: #3e3e3e;
}
.social .fa-facebook:hover {
    color: #4060A5;
}
.social .fa-instagram:hover {
    color: #e95950;
}

.social .fa-twitter:hover {
    color: #00ABE3;
}

.social .fa-google-plus:hover {
    color: #e64522;
}

.social .fa-linkedin:hover {
    color: #0094BC;
}

.full {
 /*  background: #002b36 ;*/
 background: #002336 ;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
.container{  margin-top: auto;}
.container1{  margin-left: 1.5em;
              margin-right: 1.5em;}




/*
.wrapper{
	display:block;
	position:relative;
	width:100%;
	height:500px
}
.container2{
	display:block;
	position:absolute;
	width:100%;
	height:50%;
	margin:auto;
	top:0;
	bottom:0;
	right:0;
	left:0;
}
*/


.top-colors {
  padding: 0 !important;
}
.top-color {
  height: 8px;
  width: 20%;
  float: left;
  background: #249991;
}
.top-color1 {
  background: #249991;
}
.top-color2 {
  background: #3b658a;
}
.top-color3 {
  background: #ce5f5f;
}

.cont-main {
	border: 1px solid;
	border-color: #c1c1c1;
	background:transparent;

	/*url(img/paper-bg2.png) no-repeat top left, url(img/paper-bg-bot.png) no-repeat bottom right, #fafafa;*/
 }
 .navbar-inverse .navbar-brand:hover , .navbar-inverse .navbar-nav>li>a:hover ,.navbar-inverse .navbar-brand:hover , .navbar-inverse .navbar-nav>li>a:focus , .navbar-inverse .navbar-brand:hover , .navbar-inverse .navbar-nav>li>a:active
 { color: #000;
 }


 .navbar-inverse , .navbar-inverse .navbar-nav>li>a , .navbar-inverse .navbar-brand{
     background-color: #859900;
     border-color: #859900;
		 color: #002b36 ;
 }
  .navbar-inverse .navbar-toggle .icon-bar {background-color: 	#002b36}
	.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{ background-color: #859900; }
 h2, h3 {color: #93a1a1;
  			margin-bottom: 5%}
	.rh {font-size: 1.14em}
p {color:#93a1a1;
		font-size: 1.6em;}

.descp{padding-top: 4%;
	padding-bottom: 4%;
	align-content: center;}

.piccol{margin-bottom: 4%}

.profile-pic { align-self: left;
	text-align: center;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    width: 140px;
    height: 140px;
    border: 5px solid #249991;
    overflow: hidden;
    margin: 1% 0 0 0;

}
.rettxt{color: #c1c1c1;}

.profile-pic img {
    width: 122px;
    height: 122px;
    margin-top: 4px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


@media only screen and (min-width: 700px) {

	.cent { margin-top: 11%;

        }
        p{font-size: 1.8em;}

}


@media only screen and (max-width: 767px) {

	.container1{  margin-left: 0em;
    margin-right: 0em;}

}

@media only screen and (max-width: 991px) {

  .profile-pic{margin-left: auto;
  margin-right: auto;}

}

@media only screen and (max-width: 500px) {

	.cont-main {
    padding-right: 0.9em;
    padding-left: 0.9em;
}
.col-xs-10 {
  width: 90%;
}   
.col-xs-offset-1 {
  margin-left: 5%;
}
    

}